<nav class="bg-gray-800 text-white shadow-md">
  <div class="container mx-auto flex justify-between items-center py-4">
    <!-- Logo -->
    <div class="w-full logo text-2xl font-bold">
      <%= link_to "Scheduled Tweets", root_path, class: "hover:text-gray-300 transition duration-300" %>
    </div>

    <!-- Navigation Links -->
    <ul class="w-full flex justify-center space-x-6">
      <li><%= link_to "Home", root_path, class: "hover:text-gray-300 transition duration-300" %></li>
      <li><%= link_to "About", about_path, class: "hover:text-gray-300 transition duration-300" %></li>
    </ul>

    <!-- User Info -->
    <% if Current.user %>
      <div class="w-full flex justify-end items-center space-x-4">
        <%= link_to "Welcome, #{Current.user.email}", edit_password_path, class: "text-gray-300 hover:text-gray-100 transition duration-300" %>
        <%= button_to "Logout", logout_path, method: :delete, class: "cursor-pointer bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded transition duration-300" %>
      </div>
    <% else %>
      <div class="w-full flex justify-end items-center space-x-4">
        <a href="/signin" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded transition duration-300">
          Login
        </a>
        <a href="/signup" class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded transition duration-300">
          Sign Up
        </a>
      </div>
    <% end %>
  </div>
</nav>
